<% pageId = "preview"; %> <%- include('../_partial/_header') %>

<header class="cover js-cover">
  <img src="" alt="" class="js-cover-img" />
</header>

<div class="container">
  <div class="containerMask js-containerMask"></div>
  <div class="container-inner">
    <section class="overview">
      <div class="overview-art-wrapper">
        <div class="overview-art">
          <div
            id="art"
            data-tilt
            data-tilt-glare
            data-tilt-max-glare="0.35"
            data-tilt-scale="1.05"
          >
            <img src="" alt="Album Art" class="art-img js-art-img" />
          </div>
        </div>
        <div id="art-empty" class="art-empty">
          <span class="label">NOW PRINTING</span>
        </div>
      </div>
      <div class="overview-main">
        <h2 class="overview-title js-title">Header Title</h2>
        <h3 class="organization-name js-organizationName">Organization Name</h3>
        <div class="overview-table">
          <dt class="overview-label">Specification</dt>
          <dd class="overview-content js-specification-content">
            Specification
          </dd>
          <dt class="overview-label">Release Date</dt>
          <dd class="overview-content js-releaseDate-content">Release Date</dd>
          <dt class="overview-label js-overview-label">Location</dt>
          <dd class="overview-content js-location-content">Location</dd>
          <dt class="overview-label">Price</dt>
          <dd class="overview-content js-price-content">Price</dd>
          <dt class="overview-label js-hashtag-label">Hashtag</dt>
          <dd class="overview-content js-hashtag">
            <a
              href="https://twitter.com/hashtag/"
              class="js-hashtag-link"
              target="_blank"
              rel="noopener"
              >#hashtag</a
            >
          </dd>
        </div>
      </div>
    </section>
    <section id="store" class="section-store js-section-store">
      <h2 class="store-heading js-store-heading">Store</h2>
      <div class="store-wrap js-store-wrap">
        <a
          href=""
          class="button button-primary js-store-link"
          target="_blank"
          rel="noopener"
          >Store</a
        >
      </div>
    </section>
    <nav class="nav-share">
      <a
        href=""
        class="share-btn share-tw js-share-tw"
        target="_blank"
        rel="noopener"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="19.388"
          height="19"
          title="twitter"
          viewBox="0 0 19.388 19"
        >
          <g transform="translate(0 -0.2)">
            <path
              d="M6.089,32.829a11.312,11.312,0,0,0,11.33-11.422c0-.168,0-.337-.015-.521a8.259,8.259,0,0,0,1.984-2.067,7.945,7.945,0,0,1-2.287.628,4.05,4.05,0,0,0,1.757-2.22,7.945,7.945,0,0,1-2.529.965,3.938,3.938,0,0,0-4.782-.811,4.027,4.027,0,0,0-1.988,4.47,11.274,11.274,0,0,1-8.2-4.211A4.038,4.038,0,0,0,2.59,23a3.711,3.711,0,0,1-1.8-.5v.061A4,4,0,0,0,3.968,26.49a3.927,3.927,0,0,1-1.787.077,3.959,3.959,0,0,0,3.7,2.787A7.822,7.822,0,0,1,.939,31.068,6.594,6.594,0,0,1,0,31.007a11.061,11.061,0,0,0,6.089,1.822"
              transform="translate(0 -14.48)"
              fill="#fff"
            ></path>
          </g>
        </svg>
      </a>
      <a
        href=""
        class="share-btn share-fb js-share-fb"
        target="_blank"
        rel="noopener"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          title="Facebook"
          viewBox="0 0 20 20.002"
        >
          <g transform="translate(0.004 0.016)">
            <path
              d="M20,9.952a10,10,0,1,0-11.562,9.84v-6.96H5.9V9.952H8.433v-2.2a3.53,3.53,0,0,1,3.781-3.877,15.96,15.96,0,0,1,2.234.187v2.46H13.183a1.441,1.441,0,0,0-1.625,1.557V9.952h2.781l-.453,2.881H11.558v6.96A9.976,9.976,0,0,0,20,9.952Z"
              transform="translate(0)"
              fill="#fff"
            ></path>
            <path
              d="M49.243,35.019l.649-3.223H45.906V29.7c0-.889.56-1.742,2.329-1.742h1.814V25.209a29.162,29.162,0,0,0-3.2-.209c-3.269,0-5.419,1.551-5.419,4.338V31.8H37.8v3.223h3.628v7.788a18.058,18.058,0,0,0,4.479,0V35.019Z"
              transform="translate(-33.807 -22.96)"
              fill="none"
            ></path>
          </g>
        </svg>
      </a>
    </nav>

    <div class="embeddedPlayer-wrapper">
      <iframe
        id="soundcloud-embed"
        width="100%"
        height="300"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"
      >
      </iframe>
      <div class="embeddedPlayer" id="youtube-embed">
        <iframe
          class="embeddedPlayer-player js-embedded-player"
          src="https://www.youtube.com/embed/"
          frameborder="0"
          allowfullscreen="true"
          scrolling="no"
          width="620"
          height="378"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        >
        </iframe>
      </div>
    </div>

    <section class="section section-about" id="about">
      <div class="section-wrapper">
        <header class="section-header">
          <h2 class="js-about-heading">About</h2>
        </header>
        <div class="about-content">
          <div class="about-wrap js-about-wrap">
            <p class="about js-about">About</p>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-gallery" id="gallery">
      <div class="section-gallery-wrapper">
        <header class="section-header">
          <h2>Gallery</h2>
        </header>
        <ul class="gallery-items js-dom-gallery-wrap">
          <li
            class="gallery-item js-gallery-item js-dom-gallery"
            data-index="1"
          >
            <img
              src=""
              alt=""
              class="gallery-img js-gallery-img js-dom-gallery-img"
            />
          </li>
        </ul>
      </div>

      <%# lightbox %>
      <div class="js-dom-gallery-lightbox-wrap">
        <div
          class="gallery-lightbox js-gallery-lightbox js-dom-gallery-lightbox"
          data-index="1"
        >
          <img
            src=""
            alt=""
            class="gallery-lightbox-image js-gallery-lightbox-image js-dom-gallery-lightbox-img"
          />
        </div>
      </div>
    </section>
    <section class="section section-tracklist" id="tracklist">
      <div class="section-wrapper">
        <header class="section-header">
          <h2 class="js-tracklist-heading">Tracklist</h2>
        </header>
        <div class="track-table js-track-wrap">
          <div class="track-tr js-track">
            <div class="track-th js-track-time"></div>
            <div class="track-td">
              <h4 class="track-heading js-track-name">Track name</h4>
              <div class="track-description js-track-description">
                Track description
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-member">
      <div class="section-wrapper">
        <header class="section-header">
          <h2 class="js-member-heading">Member Heading</h2>
        </header>
        <div class="member-wrap js-member-wrap">
          <div class="member js-member">
            <div class="member-role js-member-role">Role</div>
            <div class="member-content">
              <span class="member-name js-member-name">Member name</span>
              <nav class="member-link js-member-link">
                <a
                  href=""
                  class="member-url js-member-url"
                  target="_blank"
                  rel="noopener"
                  >Website</a
                >
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="section-organization">
      <h3 class="organization-logo js-organization-logo">
        <img
          src=""
          alt=""
          class="organization-logo-img js-organization-logo-img"
        />
      </h3>
      <nav class="organization-links js-organization-link-wrap">
        <a
          href=""
          class="organization-link js-organization-link"
          target="_blank"
          rel="noopener"
        >
          <span class="js-organization-link-label">Link</span>
        </a>
      </nav>
    </div>
    <footer class="footer">
      <div class="footer-wrapper">
        <div class="footer-content">
          <a
            href="/"
            class="footer-workTitle js-footer-workTitle"
            target="_blank"
            rel="noopener"
          >
          </a>
          <p class="footer-text js-footer-text"></p>
        </div>
        <div class="theme-info">
          <div class="theme-info-label">
            <p>
              Made with
              <a
                href="https://tokusetsu4.sanographix.net"
                target="_blank"
                rel="noopener"
              >
                <span class="footer-tokusetsu-logo"
                  ><%- include ('../_partial/_logo') %></span
                >
              </a>
            </p>
            <p>
              Template designed by
              <a href="https://sanographix.net" target="_blank" rel="noopener"
                >SANOGRAPHIX</a
              >
            </p>
          </div>
          <div class="theme-info-install">
            <a
              href="https://tokusetsu4.sanographix.net"
              target="_blank"
              rel="noopener"
              class="install-btn"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<aside class="prebuild-banner js-prebuild">
  <button class="prebuild-toggle js-prebuild-toggle">▼</button>
  <div class="prebuild-container">
    <div class="prebuild-content">
      <h1>Almost Done...!</h1>
      <select id="change-language">
        <option value="jp" selected="selected">
          日本語
        </option>
        <option value="en">
          English
        </option>
      </select>
      <p data-lang="jp">
        <strong>現在、プレビューを表示しています。</strong><br />
        あと一息で公開できます！
        ページをよく確認して、内容に間違いなければ公開用ファイルをダウンロードしてください。次のステップに進みましょう！
      </p>
      <p data-lang="en">
        <strong>Preview is currently displayed.</strong><br />
        You are almost ready to publish! Check the page carefully and if you are sure of the content, download the file for publication. Proceed to the next step!
      </p>
    </div>
    <div class="prebuild-action">
      <a href="/preview.html?prebuild=true" class="prebuild-download"
        >👉 Download</a
      >
    </div>
  </div>
</aside>

<%- include('../_partial/_footer') %>
