@use "../global" as g;

.container {
    @include g.container();
    position: relative;
    padding: var(--space-4) var(--space-3);
    @media #{g.$mq-md} {
        padding-left: 0;
        padding-right: 0;
    }
    // マスク有効時
    .is-bgMask-enabled & {
        @media #{g.$mq-md} {
            padding: var(--space-5);
        }
    }
}

.containerMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
}

.container-inner {
    position: relative;
}

