@use "../global" as g;

.cover {
    max-width: var(--col-width-2xl);
    margin-left: auto;
    margin-right: auto;
    img {
        width: 100%;
        max-width: 100%;
        display: block;
    }
}
