@use "../global" as g;

.gallery-items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--space-3);
    img {
        max-width: 100%;
    }
}
