@use "../global" as g;

.member-wrap {
    display: grid;
    gap: var(--space-3);
}
.member {
    display: grid;
    align-items: center;
    @media #{g.$mq-md} {
        gap: var(--space-4);
        grid-template-columns: 1fr 1.25fr;
    }
}
.member-role {
    color: var(--color-text-secondary);
    @media #{g.$mq-md} {
        display: flex;
        align-items: center;
        gap: var(--space-2);
        &::after {
            content: '';
            background-color: var(--color-border);
            height: 1px;
            flex: 1;
        }
    }
}
.member-content {
}
.member-name {
    font-size: var(--font-size-200);
    font-weight: bold;
}
.member-link {
    display: inline-block;
    margin-left: var(--space-2);
    position: relative;
    top: -.25em;
}
.member-url {
    border: 1px solid var(--color-border-highlight);
    color: var(--color-text-highlight);
    text-decoration: none;
    display: inline-block;
    padding: var(--space-1) var(--space-2);
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-50);
    text-transform: uppercase;
    line-height: var(--line-height-xs);
}
