@use "../global" as g;

.member-wrap {
    max-width: var(--col-width-sm);
    margin: auto;
    display: grid;
    justify-content: center;
    gap: var(--space-3);
}
.member {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-4);
    align-items: center;
}
.member-role {
    color: var(--color-text-secondary);
    display: flex;
    align-items: center;
    gap: var(--space-3);
    &::after {
        content: '';
        background-color: var(--color-border);
        height: 1px;
        flex: 1;
    }
}
.member-content {
    display: inline-flex;
    align-items: center;
}
.member-name {
    font-size: var(--font-size-200);
    font-weight: bold;
}
.member-link {
    display: inline-block;
    margin-left: var(--space-2);
}
.member-url {
    border: 1px solid var(--color-border-highlight);
    color: var(--color-text-highlight);
    text-decoration: none;
    display: inline-block;
    padding: var(--space-1) var(--space-2);
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-50);
    text-transform: uppercase;
    line-height: var(--line-height-xs);
}
