@use "../global" as g;

.section {
    margin: var(--space-7) auto;
    padding-top: var(--space-4);
    & + .section {
        border-top: 1px solid var(--color-border);
    }
}
.section-wrapper {
    display: grid;
    gap: var(--space-3);
    @media #{g.$mq-lg} {
        grid-template-columns: 1fr 1.5fr;
    }
}
.section-header {
    h2 {
        margin: 0;
        font-size: var(--font-size-400);
    }
}
