@use "../global" as g;

.track-table {
    max-width: var(--col-width-sm);
    margin: auto;
    display: grid;
    justify-content: center;
    gap: var(--space-3);
}
.track-tr {
    counter-increment: list;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--space-3);
}
.track-th {
    font-size: var(--font-size-200);
    color: var(--color-text-highlight);
    &::before {
        content: counter(list);
    }
}
.track-heading {
    font-weight: bold;
    font-size: var(--font-size-200);
    margin: 0;
}
.track-description {
    color: var(--color-text-secondary);
}
