    <% if (pageId === 'preview') { %>
      <script src="_src/preview.js"></script>
      <script src="_src/index.js"></script>
    <% } %>
    <script src="_src/i18n-language.js"></script>
  </body>
</html>
